Apache HP PC in wamp 3:

<VirtualHost *:80>
	ServerName larele.me
	DocumentRoot e:/installedapp/zend/apache2/htdocs/larele
	<Directory  "e:/installedapp/zend/apache2/htdocs/larele/">
		Options Indexes FollowSymLinks MultiViews
		AllowOverride All
		Require all granted
	</Directory>
</VirtualHost>

--------------------------------------------------------------

Apache Company PC in wamp 3:

<VirtualHost *:80>
	ServerName larele.me
    ErrorLog "logs/larele.me-error.log"
    CustomLog "logs/larele.me-access.log" common
	DocumentRoot d:/SERV_WORKSPACE/pub/larele
	<Directory  "d:/SERV_WORKSPACE/pub/larele/">
		Options Indexes FollowSymLinks MultiViews
		AllowOverride All
		Require all granted
	</Directory>
</VirtualHost>

--------------------------------------------------------------

Apache HP PC in wamp 2.2:

NameVirtualHost larele.me:80
<VirtualHost *:80>
    DocumentRoot E:/InstalledApp/Zend/Apache2/htdocs/larele
    ServerName larele.me
</VirtualHost>

--------------------------------------------------------------

Apache Company PC in wamp 2.2:

已部署，待填写

--------------------------------------------------------------

Nginx Linode Tokyo:

server {
listen 80;
server_name www.larele.com larele.com;
access_log /home/wwwlogs/www.larele.com_nginx.log combined;
index index.html index.htm index.jsp index.php;
include other.conf;
root /home/wwwroot/www.larele.com;
#error_page 404 /404.html;
if ( $query_string ~* ".*[\;'\<\>].*" ){
        return 404;
        }

location / {
        if (!-e $request_filename) {
                rewrite ~*. /index.php last;
                }
        }

location ~ .*\.(wma|wmv|asf|mp3|mmf|zip|rar|jpg|gif|png|swf|flv)$ {
        valid_referers none blocked *.larele.com www.larele.com larele.com;
        if ($invalid_referer) {
                #rewrite ^/ http://www.linuxeye.com/403.html;
                return 403;
                }
        }
location ~ .*\.(php|php5)?$  {
        #fastcgi_pass remote_php_ip:9000;
        fastcgi_pass unix:/dev/shm/php-cgi.sock;
        fastcgi_index index.php;
        include fastcgi.conf;
        }

location ~ .*\.(gif|jpg|jpeg|png|bmp|swf|flv|ico)$ {
        expires 30d;
        }

location ~ .*\.(js|css)?$ {
        expires 7d;
        }
}



--------------------------------------------------------------

Nginx Lightsail Tokyo:

server {
listen 80;
server_name www.larele.com larele.com;
access_log /home/wwwlogs/www.larele.com_nginx.log combined;
index index.html index.htm index.jsp index.php;
include /usr/local/nginx/conf/rewrite/other.conf;
root /home/wwwroot/larele;
#error_page 404 /404.html;
if ( $query_string ~* ".*[\;'\<\>].*" ){
        return 404;
        }

location / {
        if (!-e $request_filename) {
                rewrite ~*. /index.php last;
                }
        }

location ~ .*\.(wma|wmv|asf|mp3|mmf|zip|rar|jpg|gif|png|swf|flv)$ {
        valid_referers none blocked *.larele.com www.larele.com larele.com;
        if ($invalid_referer) {
                #rewrite ^/ http://www.linuxeye.com/403.html;
                return 403;
                }
        }
location ~ .*\.(php|php5)?$  {
        #fastcgi_pass remote_php_ip:9000;
        fastcgi_pass unix:/dev/shm/php-cgi.sock;
        fastcgi_index index.php;
        include fastcgi.conf;
        }

location ~ .*\.(gif|jpg|jpeg|png|bmp|swf|flv|ico)$ {
        expires 30d;
        }

location ~ .*\.(js|css)?$ {
        expires 7d;
        }
}